.orders{
    font-family: cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    p{
        margin-bottom: 5px;
    }
}
.image-container{
    img{
        height: 150px;
        width: 135px;
    }
}