<div class="container pt-2 pb-2">
    <div class="row">
        <div class="mx-auto">
            <h3><strong>{{'PRIVACY.heading' | translate}}</strong></h3>
        </div> 
    </div>        
</div>
<p>{{'PRIVACY.privacy' | translate}}</p>
<h4><strong>{{'PRIVACY.info_heading' | translate}}</strong></h4>
<p>{{'PRIVACY.info_text' | translate}}</p>
<h4><strong>{{'PRIVACY.personal_heading' | translate}}</strong></h4>
<p>{{'PRIVACY.personal_text' | translate}}</p>
<h4><strong>{{'PRIVACY.manage_heading' | translate}}</strong></h4>
<p>{{'PRIVACY.manage_text' | translate}}</p>
<h4><strong>{{'PRIVACY.accept_heading' | translate}}</strong></h4>
<p>{{'PRIVACY.accept_text' | translate}}</p>