<div class="container">
    <div class="row">
        <div class="mx-auto mt-4">
            <h3>{{'CONTACT.heading' | translate}}</h3>
            <div class="row">
                <div class="emailUs mt-4 mx-auto mb-1">
                <strong>{{'CONTACT.email_us' | translate}}</strong>
                </div>
            </div>
            <p>{{'CONTACT.email_text' | translate}}</p>
            <div class="row">
                <div class="callUs mt-3 mx-auto mb-1">
                <strong>{{'CONTACT.call_us' | translate}}</strong>
                </div>
            </div>
            <div class="row mx-auto">
                <div class="mx-auto">
                <p>{{'CONTACT.phone' | translate}}</p>
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>