<div class="container pt-2 pb-2">
    <div class="row">
        <div class="mx-auto">
            <h3><strong>{{'CART.heading' | translate}}</strong></h3>
        </div> 
    </div>        
</div>
<div class="container pt-5" *ngIf="noItems == 0" >
    <div class="row">
        <div class="mx-auto" style="font-family: cursive;">
            <div class="mx-auto"><h4>{{'CART.empty_cart' | translate}}</h4></div>
            <div class="mx-auto pb-3 pl-5"><a routerLink="/shop" style="text-decoration: underline;"><strong>{{'CART.start_shopping' | translate}}</strong></a></div>
        </div>
    </div>
</div>
<ul *ngIf="noItems > 0">
    <li *ngFor="let item of cartItems">
        <div class="container pb-3" >
            <div class="row">
                <div class="image-container col-lg-2  mx-auto" style="background-color: #f4def5;">
                    <a [routerLink]="['/product/details', item.id]"><img [src]="item.images[0]"></a>
                </div>
                <div class="cartItem col-lg-6  mx-auto" style="background-color: #f4def5;">
                    <p><strong>{{item.name}}</strong></p>
                    <p>{{item.description}}</p>
                    <p>{{'CART.size' | translate}}: <select class="browser-default custom-select form-control sizeSelect" [(ngModel)]="item.size" name="size">
                        <option *ngFor="let size of availableSizes">{{size}}</option>
                    </select></p>
                    <p>{{'CART.quantity' | translate}}:
                    <select class="browser-default custom-select form-control" [(ngModel)]="item.quantity" 
                    (ngModelChange)="calculateTotalAmount()" name="quantity">
                        <option *ngFor="let quantity of availableQuantity">{{quantity}}</option>
                    </select></p>
                    <p><strong>{{'CART.total' | translate}}: {{item.price*item.quantity | currency:'INR'}}</strong></p>
                </div>  
                <div class="col-lg-1" style=" margin-top:30px;"><a (click)="deleteProduct(item.id)" role="button">
                    <i class="fa fa-trash fa-lg"></i></a>
                </div>              
            </div>
        </div>
    </li>
</ul>
<div class="container pt-5 pb-5" *ngIf="noItems > 0">
    <div class="row">
        <div class="mx-auto" style="margin-right: 30px !important;">
            <h4>{{'CART.total_amount' | translate}}: {{totalAmount | currency:'INR'}}</h4>
        </div>
        <div class="mx-auto" style="margin-left: 30px !important;">
            <button (click)="checkout()" class="btn btn-primary">{{'CART.checkout' | translate}}</button>
        </div>
    </div>
</div>
