<div class="container pt-4 pb-2">
    <div class="row">
        <div class="mx-auto">
            <h3><strong>{{'ORDER.heading' | translate}}</strong></h3>
            <p class="mt-4">{{'ORDER.order_text' | translate}} 
                <a routerLink='/profile'>Profile</a> --> <a routerLink='/order/all'>Order</a>
            </p>
        </div> 
    </div>        
</div>
<div class="container pb-4">
    <div class="row">
        <div class="mx-auto">
            <h5><a routerLink="/shop">{{'ORDER.home' | translate}}</a></h5>
        </div>
    </div>
</div>
