<div class="container pt-2 pb-2">
    <div class="row">
        <div class="mx-auto">
            <h3><strong>{{'SHIPPING.heading' | translate}}</strong></h3>
        </div> 
    </div>        
</div>
<p>{{'SHIPPING.shipping' | translate}}</p>
<h4><strong>{{'SHIPPING.general_heading' | translate}}</strong></h4>
<p>{{'SHIPPING.general_text' | translate}}</p>
<h4><strong>{{'SHIPPING.cost_heading' | translate}}</strong></h4>
<p>{{'SHIPPING.cost_text' | translate}}</p>
<h4><strong>{{'SHIPPING.delivery_heading' | translate}}</strong></h4>
<p>{{'SHIPPING.delivery_text' | translate}}</p>