.container{
    padding-top: 20px; 
    padding-bottom: 20px;
    img{
        width: 100%;
        height: auto;
    }

    .details-container{
        font-family: cursive;
        button{
            color: white;
            background-color: black;
        }
    }
}
