<div class="container pt-2 pb-2">
    <div class="row">
        <div class="mx-auto">
            <h3><strong>{{'CANCEL.heading' | translate}}</strong></h3>
        </div> 
    </div>        
</div>
<p>{{'CANCEL.thank' | translate}}</p>
<p>{{'CANCEL.cancel' | translate}}</p>
<h4><strong>{{'CANCEL.cancel_heading' | translate}}</strong></h4>
<p>{{'CANCEL.cancel_text_0' | translate}}</p>
<p>{{'CANCEL.cancel_text_1' | translate}}</p>
<p>{{'CANCEL.cancel_text_2' | translate}}</p>
<ul><li><p>{{'CANCEL.cancel_text_3' | translate}}</p></li></ul>
<p>{{'CANCEL.cancel_text_4' | translate}}</p>
